// Import all of Bootstrap's CSS
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "bootstrap/scss/bootstrap";

// Enable grid support
$enable-cssgrid: true;

:root {
  --bs-font-sans-serif: "Inter";
  --bs-body-bg: #fff7ed;
  --bs-link-color-rgb: #4d4d4d;
  --bs-link-hover-color-rgb: #161616;

  // Grid options
  --bs-columns: 2rem;
  --bs-gap: var(--bs-columns);
}
a {
  text-decoration: none;

  &:hover {
    // text-decoration: underline;
  }
  // &.active {
  //   text-decoration: underline;
  // }
}
ul,
ol {
  list-style-type: none;
  padding: 0;
}

#main-home {
  background-image: url("/src/assets/home-hero.jpg");
  background-position: center;
  background-size: cover;
}

#vans-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(230px, 330px));
  gap: 2rem;
}

#card-info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0.25rem;

  .card-text {
    grid-column: 2/3;
    grid-row: 1/3;
  }
}

.btn {
  color: #ffead0;

  &.simple {
    background-color: #e17654;
  }
  &.rugged {
    background-color: #115e59;
  }
  &.luxury {
    background-color: #161616;
  }
}
